/* button style */
.honrix-content [type="submit"]{
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border: 1px solid var(--honrix-theme-color);
  text-decoration: none;
}

.honrix-content [type="submit"]:hover{
  background-color: var(--honrix-background-color);
  color: var(--honrix-theme-color);
}

.honrix-content [type="submit"]{
  background-color: var(--honrix-theme-color);
  color: var(--honrix-accent-color);
}

/* blog */

.honrix-entries .posts article .post-thumbnail {
  position: relative;
  overflow: hidden;
}

.honrix-entries .posts article .post-thumbnail a {
  display: block;
  max-width: 100%;
}

.honrix-entries .posts article .post-thumbnail img {
  display: block;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  height: auto;
}

.honrix-entries .posts article:hover .post-thumbnail img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.honrix-entries .posts article .entry-categories a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  color: var(--honrix-theme-color);
}

.honrix-entries .posts article .entry-categories a:hover,
.honrix-entries .posts article .entry-title a:hover{
  color: var(--honrix-accent-color);
}

.honrix-entries .posts article .entry-categories a:not(:last-child)::after {
  content: "/";
  padding: 0 10px;
  font-weight: 400;
}

.honrix-entries .posts article .entry-title {
  margin-top: 0;
}

.honrix-entries .posts article .entry-title span{
  padding-right: 15px;
}

.honrix-entries .posts article .entry-title a {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 700;
}

.honrix-entries .posts article .entry-content {
  font-size: 13px;
  
}

.honrix-entries .posts article .entry-content p {
  margin: 0;
  line-height: 23px;
}

.honrix-entries .posts article .entry-author img {
  border-radius: 100%;
  -webkit-border-radius: 100%;
}

.honrix-entries .posts article .entry-author .author-name a {
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
}

.honrix-entries .posts article .entry-read-more {
  border-bottom: 1px solid #aaa;
}

.honrix-entries .posts article .entry-read-more a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  letter-spacing: 1px;
  background: transparent;
  padding: 0;
  border: none;
}

.honrix-entries .posts article .entry-body{
  border-bottom: 1px solid #aaa;
}